        .navbar{
            font-family: serif; 
            background-color: #F5E3E0;
            overflow: hidden;
            padding: 1px;
        }
        .navbar li{
            list-style-type: none;
            float: left; 
            color: #3A3238; 
        }
        .navbar a{
            color: #EDC7B7;
            text-decoration: none;
            font-size: 24px;
            padding: 16px; 
            display: inline-block;
        }
        .navbar li:hover {
            background-color: #BAB2B5;
        }
        .dropdown-content li {
            float: none; 
        }
        .dropdown-content {
            padding: 0 px;
            background-color: #BAB2B5;
            display: none;
            position: absolute;
        }
        .dropdown:hover .dropdown-content{
            display:block;
        }
        .active {
        background-color: black;
        }   